@font-face {
    font-family: Lobster;
    src: url(../assets/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: CI;
    src: url(../assets/fonts/CormorantInfant-Medium.ttf);
}

.centerTitle{
    margin-top: 10vh;
    font-size: 90px;
    font-family: Lobster;
}

.CI_Font{
    font-family: CI;
    font-size: 40px;
}

.inputForName{
    margin-top: 20vh;
}

.players{
    margin-top: 45vh;
}

.submit{
    margin-top: 22vh;
}

.round{
    margin-top: 20vh;
}

.choices{
    margin-top: 20vh;
}

.displayChosenChoice{
    margin-top: 5vh;
}

.customBtn{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}